
  .container-search {
    height: 65%;
    background-image: url("../../assets/images/pattern-bg-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 40px;
    /* display: flex; */
    /* justify-items: baseline; */
    /* align-items: center; */
    /* justify-content: center; */
  }
  
  .container-search input {
    width: 30%;
    height: 49.47px;
    text-align: left; 
    padding-left: 20px;
    border-radius: 15px 0px 0px 15px;
  }
  
  .container-search button {
    height: 52px;
    background-color: #373e47;
    border-radius: 0px;
    color: white;
    border-radius: 0px 15px 15px 0px;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #464e58;
  }