.title {
    font-size: 32px;
    color: white;
    margin-bottom: 24px;
  }
  
  
  .container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;  
  }
  
  .container-map {
    width: 100%;
    height: 100%;
  }
  
  .container-map > .leaflet-container {
    height: 100%;
  }