#root, input {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  margin: 0px;
  padding: 0px;
  border: 0px;
  border-radius: 0px;
}

*:focus{
  outline:none;
  box-shadow: none;
}

ul, li {
  display: inline;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-image: url("./assets/images/pattern-bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.container-search {
  margin-top: 100px;
  display: flex;
  justify-items: baseline;
  align-items: center;
  justify-content: center;
}

.container-search input {
  width: 30%;
  height: 50px;
  text-align: left; 
  padding-left: 20px;
  border-radius: 15px 0px 0px 15px;
}

.container-search button {
  height: 50px;
  background-color: grey;
  border-radius: 0px;
  color: white;
  border-radius: 0px 15px 15px 0px;
}

.container-info {
  margin-top: 10px;
  width: 60%;
  height: 150px;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-items: baseline;
  align-items: center;
  justify-content: center;
}

.container-info--item {
  padding: 10px;
}